services:
  mc:
    image: itzg/minecraft-server:stable-java17
    tty: true
    stdin_open: true
    restart: always
    ports:
      - "25565:25565"
    env_file:
        - .env
    volumes:
      - ./data:/data
      - ./mods:/mods